main p {
    opacity: var(--opacity-text);
  }
  
  .profile-card p {
    padding-bottom: 15px;
  }
  
  .profile-card {
      display: flex;
      justify-content: space-between;
      border-radius: 8px;
      overflow: hidden;
      background-color: var(--accent-color);
      box-shadow: var(--box-shadow);
      background: linear-gradient(to right, rgba(0, 0, 0, 0), var(--accent-color), rgba(0, 0, 0, 0));
    }
  
    .profile-card .text {
      flex: 1;
      padding: 15px;
    }
  
    .profile-card img {
      flex-shrink: 0;
      width: 300px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  
    .profile-card header span, .social-icons i {
      color: var(--complementary-color);
    }
    
    .social-icons {
      width: 50%;
      display: flex;
      justify-content: space-between;
      padding: 15px;
      margin: auto;
      box-shadow: var(--box-shadow);
    }
  
    .social-icons i {
      transition: opacity 0.2s ease-in-out;
    }
  
    .social-icons i:hover {
      cursor: pointer;
      opacity: 0.3;
      background: transparent;
    }
  
  .container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0;
  }
  
  .card {
      width: 30%;
      margin-top: 30px;
      box-shadow: var(--box-shadow);
      border-radius: 8px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      padding: 1px;
  }
  
  .container .card img {
      width: 100%;
      height: auto;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
  }
  
  .card p {
      margin: 0;
      padding: 15px;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--accent-color));
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
  }